<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- agentscrape-installer-owned: agentscrape.process-queue.v1 -->
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>agentscrape.process-queue</string>
  <key>ProgramArguments</key>
  <array>
    <string>__AGENTSCRAPE_PROGRAM__</string>
    <string>process-queue</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>__AGENTSCRAPE_PATH__</string>
  </dict>
  <key>QueueDirectories</key>
  <array>
    <string>__AGENTSCRAPE_QUEUE__</string>
  </array>
  <key>ProcessType</key>
  <string>Background</string>
  <key>StandardOutPath</key>
  <string>__AGENTSCRAPE_LOG__</string>
  <key>StandardErrorPath</key>
  <string>__AGENTSCRAPE_LOG__</string>
</dict>
</plist>
